{% extends "app/base.html" %}
{% load static %}
{% block content %}
<head>
    
    <title>Pa' las que sea</title>
    <link rel="stylesheet" href="{% static 'app/css/servicios.css'  %}">
    
</head>

<body oncopy="return false">
    <header>


        <div class="header">

            <div class="contenedor">
                <section class="contenido-header">
                    <section class="textos-header">
                        <h1>Servicios Integrales</h1>
                        <p>Somos una empresa de servicios integrales encargada de facilitar
                            lazos entre trabajador-cliente para cualquier tipo de servicio domestico o necesidad cotidiana: 
                            
                            
                            <br> - Carpinteria. <br>
                            - Arte. <br>
                            - Educación. <br>
                            - Electridad. <br>
                            - Servicios a domicilio. <br>
                            - Etc. 
                                
                                
                                       
                            
                        </p>
                        
                        <a class="btn-header active-btn" href="/servicios/">Contrata</a>
                    </section>
                    <img src="{% static 'app/img/marca_empresa.svg' %}" alt="">
                </section>
            </div>

        </div>
        
    </header>


    <section class="empleados-destacados">
        <div class="contenedor1">
            <h2 class="titulo">Funcionarios más destacados</h2>
            <div class="contenedor-articulo">
                {% for colab in colaboradores %}
                <div class="flex">
                    <div class="articulo" data-aos="zoom-in-right">
                        <img src="" alt="">
                        <h3>{{colab.primerNombre}}</h3>
    
                        <p>{{colab.descripcion}}</p>
                        <div class="caja-read"><a href="">Read more ---></a></div>
                        <div>
                            <h2>5k calificaciones</h2>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>

                        </div>
                        

                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="questions contenedor">
        <section class="textos-questions">
            <h1>Aplica para comenzar a trabajar ya.</h1>
            <p>Inscribe tus datos personales, documentacion y anexa tu hoja de vida <br> o experiencia laboral, destreza,
                y servicio que deseas brindar
            </p>
            <a class="active-btn" href="/iniciar">Postularse</a>
        </section>
        <img src="{% static 'app/img/acompañanos.svg' %}" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
    </section>

    <section class="estadisticas">
        <div class="contenedor1 conten-estadisticas">
            <section class="numbers">
                <div class="number" data-aos="zoom-in-left">
                    <h4>74%.</h4>
                    <p>Aproximadamente, es el promedio de la tasa de desempleo en Tumaco a mediados de 2021.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>53,7%</h4>
                    <p>Aproximadamente, es el promedio del indice de pobreza en Tumaco a mediados de 2021.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>88%</h4>
                    <p>Aproximadamente son personas desocupadas en Tumaco.</p>
                </div>
                <div class="number" data-aos="zoom-in-left">
                    <h4>11,33%</h4>
                    <p>Aproximadamente es el porcentaje de la tasa de desempleo del total nacional.</p>
                </div>
            </section>
            <section class="Texto-estadisticas">
                <h4>Proposito colectivo</h4>
                <p>Con esta empresa se plantea, ademas de brindar ayuda con diversos servicios, <b>aminorar</b> el indice de desempleo y pobreza en Tumaco, y posteriormente, 
                    en otras localidades. Dandoles así, trabajo a muchas personas que lo necesitan y que tienen un gran 
                    potencial que no es aprovechado. 
                </p>
                <a class="active-btn" href="/iniciar/" >Trabaja ya</a>
            </section>
        </div>
    </section>

    <section class="contenedor1 services">
        <div class="imagenes-services">
            <img class="img-serv" src="{% static 'app/img/tec-seguridad.jpg' %}" alt="">
            <img class="img-serv" src="{% static 'app/img/contrato.jpg' %}" alt="">
            <img class="img-serv" src="{% static 'app/img/Deliveries.jpg' %}" alt="">
        </div>
        
        <div class="box-skills">
            <h4><i class="fa-solid fa-truck-fast"></i> Eficacia</h4>
            <h4><i class="fa-solid fa-shield-halved"></i> Seguridad</h4>
            <h4><i class="fa-solid fa-gauge-high"></i> Rapidez</h4>
            <h4><i class="fa-solid fa-fill-drip"></i> Estabilidad</h4>
            <h4><i class="fa-solid fa-circle-info"></i> Soporte</h4>
        </div>
    </section>
{% endblock %}