{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="{% static 'app/css/iniciar.css'  %}">
    
</head>



<body>
    <section class="log contenedor">
        <section class="texto-log">
            <h1>Registrate, inicia sesion o postulate.</h1>
            <p>para comenzar a ser parte de la comunidad de Pa' Las Que Sea Solutions©</p>
            <a href="#">Registrate</a>
        </section>

        <section class="caja-form">
            
            <div class="form">
                <h2>Login</h2>

                <form class="formulario" action="">
                    
                    <input class="input-login" placeholder="Correo" name="Correo" type="email">


                    <input class="input-login" name="contraseña" type="password" placeholder="Contraseña">

                    <div class="datos-config">
                        <input type="checkbox" id="switch" class="lbl-switch">
                        <h5><label class="record" for="switch">Recordarme</label></h5> 
                        <h5> <a href="">¿Olvidó su contraseña?</a> </h5>

                    </div>

                    <div class="boton">
                        <input class="entrar" type="submit" placeholder="Entrar" value="Entrar ">
                    </div>

                    <div class="login-social">
                        <h3> Iniciar sesion con </h3>
                        <div class="ico-social">
                            
                                <i class="face fab fa-facebook-f"></i>
                                <i class="twitter fab fa-twitter"></i>
                                <i class="ig fab fa-instagram"></i>
                                <i class="google fab fa-google"></i>
                        </div>
                    </div>
                    



                </form>
            </div>
        </section>
        
    </section>
</body>

{% endblock %}