{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/registro.css'  %}">
    
</head>



<body>
    <section class="log contenedor">
        <section class="texto-log">
            <h1>Registrate, inicia sesion o postulate.</h1>
            <p>para comenzar a ser parte de la comunidad de Pa' Las Que Sea Solutions©</p>
            <a href="#">Tengo cuenta</a>
        </section>

        <section class="caja-form">
            
            <div class="form">
                <h2>Login</h2>

                <form class="formulario" action="">

                    <input class="input-login" placeholder="Primer nombre*" name="P-nombre" type="text" required="True">
                    
                    <input class="input-login" placeholder="Segundo nombre" name="S-nombre" type="text" required="False">

                    <input class="input-login" placeholder="Primer apellido*" name="P-apellido" type="text" required="True">

                    <input class="input-login" placeholder="Segundo apellido" name="S-apellido" type="text">

                    <input class="input-login" placeholder="Correo*" name="Correo" type="email" required="True">

                    <select name="funcion" id="func">

                        <option value="Usuario">Tipo de usuario</option>
                        <option value="Funcionario">Funcionario</option>
                        <option value="Cliente">Cliente</option>
                        <option value="Ambas">Ambos</option>

                    </select>


                    <input class="input-login" name="contraseña" type="password" placeholder="Contraseña*" required="True">

                    <input class="input-login" name="confirmar" type="password" placeholder="Confirmar contraseña*" required="True">

                    

                    <div class="boton">
                        <input class="entrar" type="submit" value="Registrate">
                    </div>

                    <div class="login-social">
                        <h3> Iniciar sesion con </h3>
                        <div class="ico-social">
                            
                                <i class="face fab fa-facebook-f"></i>
                                <i class="twitter fab fa-twitter"></i>
                                <i class="ig fab fa-instagram"></i>
                                <i class="google fab fa-google"></i>
                        </div>
                    </div>
                    



                </form>
            </div>
        </section>
        
    </section>
</body>

{% endblock %}