{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'app/css/registro.css' %}">
    
</head>



<body>
    <section class="log contenedor">
        <section class="texto-log">
            <h1>Registrate, inicia sesion o postulate.</h1>
            <p>para comenzar a ser parte de la comunidad de Pa' Las Que Sea Solutions©</p>
            <a href="/iniciar/">Tengo cuenta</a>
        </section>

        <section class="caja-form">
            
            <div class="form">
                <h2>Login</h2>

                
                <form class="formulario" action="." method="post">

                    {% csrf_token %}

                    {{form.username}}

                    {{form.first_name}}

                    {{form.last_name}}
                   
                    {{form.email}}

                    {{form.password1}}
                    
                    {{form.password2}}

                    

                    <div class="boton">
                        <input class="entrar" type="submit" value="Registrate">
                    </div>

                    <div class="login-social">
                        <h3> Iniciar sesion con </h3>
                        <div class="ico-social">
                            
                                <i class="face fab fa-facebook-f"></i>
                                <i class="twitter fab fa-twitter"></i>
                                <i class="ig fab fa-instagram"></i>
                                <i class="google fab fa-google"></i>
                        </div>
                    </div>
                    



                </form>
            </div>
        </section>
        
    </section>
</body>

{% endblock %}