

/* contenedores estandar */
.contenedor {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    overflow: hidden;
    margin-right: 30;
    margin-left: 30;
   

    
}

body{
    background-color: #ffffff;
}

.contenedor1 {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    margin-right: 30;
    margin-left: 30;
}


h1 {
    font-size: 50px;
}


/* login */

/*seccion general*/
.log {
    height: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*caja general del formulario*/
.caja-form {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}

/*Caja interna del formulario*/
.form {
    width: 375px;
    height: 550px;
    background: #ffffffa2;
    color: rgb(56, 56, 56);
    border: 1px dotted black;
    border-radius: 10px;
    padding: 40px 50px 20px 50px;
    margin-bottom: 40px;
 
}

.form>h2 {

    margin-bottom: 30px;
    color: #2b2b2b;

}




.input-login{
    display: block;
    width: 100%;
    margin: 15px 0 0;
    padding: 7PX;
    border: none;
    border-radius: 2.5PX;

    border: 0.1px dotted #000000;
    background-color: #ffffffc2;
    
    
}

.boton{
    text-align: center;
    padding-top: 25px;
}

.entrar{ 
    width: 100px;
    padding: 7PX;
    border: 1px dotted black;
    border-radius: 10PX;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0);

    animation: background .5s;
  
}

.entrar:hover {
    background: #000000;
    color: #ffffff;

    box-shadow: 0 4px 10px rgba(17, 17, 17, 0.63);
}

.datos-config{
    display: flex;
 
    
    margin: 35px 5px;
    padding: 5px 0 0 0;
}

.datos-config>h5{
    margin: 0px 10px 0 10px;
    
}

.record{
    cursor: pointer;
    align-items: center;
    align-content: center;
}

input[type="checkbox"]{
    background-color: #aaa;
    border-radius: 5px;

}

.login-social {
    margin-top: 20px;
    border-top-style: dotted;
    border-width: 1px;
    
    border-color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 10px;
}

.login-social h3 {
    color: #1d273b;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;

}

.ico-social i {
    font-size: 20px;
    display: inline-block;
   
    border-radius: 50%;
    width: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;

}

.face{  
    color: #ffffff;
    background-color: #067aeb;
    border: 1px solid #067aeb;
}

.face:hover{
    color: #067aeb;
    background-color: #f3f3f3;
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.twitter{
    color: #ffffff;
    background-color: #2290ff;
    border: 1px solid #2290ff;
}

.twitter:hover{
    color: #2290ff;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.ig{
    color: #ffffff;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    
    
    border: 1px solid #ffffff;
}

.ig:hover{
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), 
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), 
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), 
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
   
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.google{
 
    border: 1px solid #ffffff;
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    
}

.google:hover{
    
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
}

.texto-log {
    width: 37%;
    height: 550px;
    margin: 0 0 35px 20px;
    
   
}

.texto-log h1 {
    color: rgb(17, 17, 17);
    font-size: 40px;
}

.texto-log p {
    color: rgb(29, 29, 29);
    font-weight: 300;
    margin: 20px 0;
}

.texto-log>a {
    color: rgb(39, 39, 39);
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(39, 39, 39);
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    animation: background .5s;
}

.texto-log>a:hover{
    background: black;
    color: #fff;
    box-shadow: 0 8px 20px rgba(17, 29, 48, .26);
}






/* respnsive */ 

@media screen and (max-width:950px) {
   

    .datos-config>h5{
        margin-right: 10px;
        
    }

    .log{
        height: 625px;
    }
}    

@media screen and (max-width:885px) {
    .form {
        width: 350px;
     
     
    }


}
@media screen and (max-width:650px) {
    .log{
        
        flex-direction: column-reverse;
        height: 100%;
    }

    .caja-form{
        width: 85%;

    }

    .texto-log{
        width: 80%;
        padding-top: 30px;
    }

    .form{
        margin-top: 50px;
        width: 370px;
    }
}

@media screen and (max-width:580px) {
 

    
    .form{
        padding: 30px;
        margin-top: 50px;
        width: 470px;
    }
}
